@mixin min-1440 {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin max-1440 {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin max-1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin max-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin max-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin max-320 {
  @media (max-width: 320px) {
    @content;
  }
}

/*
*
* font-size: clamp(MIN, PREFERRED, MAX)
*
*/
@mixin px-par($color) {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: $color;
  font-optical-sizing: auto;
  text-transform: none;
  text-decoration: none;
}

@mixin px-head($color) {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: bold;
  line-height: 1.1;
  color: $color;
  font-optical-sizing: auto;
  text-transform: none;
  text-decoration: none;
}
