@use '../style' as *;

.px-icon-list-wrapper {
  margin-left: 20px;
  margin-bottom: 1.5rem;
}
.px-list {
  display: flex;
  list-style-type: disc; //default

  &--row {
    flex-direction: row;
  }

  &--col {
    flex-direction: column;
  }

  &--social {
    gap: 12px;
  }

  li {
    margin: unset;
    margin-block: 0.5rem;
  }
}

.px-marker {
  &--cst {
    list-style: none;

    li {
      padding-left: 8px;
    }
  }

  &--check li::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%236E51E0'/%3E%3Cpath d='M10 14l5-5 1 1-6 6-3-3 1-1 2 2z' fill='white'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
  }
}
