@use 'style' as *;

/*
 * Hero Images css
 */

.px-hero-image-wrapper {
  height: 100%;
  z-index: 1;
}

.px-hero {
  position: relative;
  height: 445px;

  &--img:not(.px-hero__phone-img) {
    border-radius: 12px;
  }

  &__phone-img {
    max-height: 445px;
    max-width: 448px;
    object-fit: cover;
    object-position: top center;
    top: 0;
    left: calc(50% + 7px);
    transform: translateX(-50%);
  }

  &__tl-img {
    max-width: 176px;
    max-height: 176px;
    @include min-1440 {
      top: -7%;
      left: 10%;
    }
  }

  &__bl-img {
    max-width: 280px;
    max-height: 248px;
    transform: scale(1.1);
    bottom: 0;
    left: 0;
    @include min-1440 {
      bottom: -5%;
      left: -4%;
    }
  }

  &__tr-img {
    max-width: 176px;
    max-height: 176px;
    transform: scale(1.2);
    @include min-1440 {
      top: -15%;
      right: 5%;
    }
  }

  &__br-img {
    max-width: 280px;
    max-height: 248px;
    @include min-1440 {
      bottom: -2%;
      right: -4%;
    }
  }
}

.px-section-id-h1s2 {
  padding-block: 90px;
}

.img-4642 {
  top: 0;
  left: -3%;
}

.img-4643 {
  bottom: 0;
  right: 0;
}

.img-4644 {
  left: 5%;
  bottom: 15%;
}

.img-4645 {
  @extend .img-4643;
}

.img-4646 {
  top: 0;
  left: -5%;
}

.img-4647 {
  top: 18%;
  right: 10%;
}
