.px-ftr .px-wrapper--row {
  align-items: start;
  justify-content: unset;
}

.px-ftr {
  .px-section__sub,
  .px-section__par {
    margin-bottom: 0;
  }

  .px-section__sub {
    font-weight: bold;
  }

  .px-list li {
    padding: 0;
  }

  &__link-wrapper,
  &__logo-wrapper {
    flex: 1;
  }

  &__link-wrapper.px-wrapper--row {
    justify-content: space-between;
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0.8;
    max-width: 520px;
    margin-right: 250px;

    .px-section__sub {
      margin-bottom: 24px;
    }
  }

  .px-list {
    margin-top: 32px;
    gap: 24px;
  }
}

.px-ftr__link-wrapper h2 {
  color: var(--black-30);
}

.px-copyright {
  position: relative;
  .px-marker--cst li {
    padding: 0;
  }

  &__icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid var(--black-20);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content-block {
    justify-content: space-between;
    align-items: center;
  }

  &::before {
    content: '';
    position: absolute;
    max-width: 1140px;
    width: 100%;
    border-top: 1px solid var(--black-20);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
