@use 'style' as *;

[data-variant='white'] {
  background-color: white;
}

[data-variant='off-white'] {
  background-color: var(--black-10);
}

.px-section {
  width: 100%;

  &--hero {
    height: 107vh;
    max-height: 1080px;
    padding-block: 210px 0;
    margin-bottom: 34px;
  }

  &--sm {
    padding-block: 60px;
  }

  &--base {
    padding-block: 120px;
  }

  &--lg {
    padding-block: 140px;
  }
}

.px-center {
  &--ai {
    align-items: center;
  }

  &--jc {
    justify-content: center;
  }
}

.px-container {
  width: 100%;
  margin-inline: auto;

  &--xs {
    max-width: 800px;
  }

  &--sm {
    max-width: 800px;
  }

  &--md {
    max-width: 1080px;
  }

  &--base {
    max-width: 1140px;
  }

  &--lg {
    max-width: 1280px;
  }

  &--full {
    max-width: 100%;
  }

  @include min-1440 {
    padding-inline: 0;
  }

  @include max-1440 {
    padding-inline: 120px;
  }

  @include max-1024 {
    padding-inline: 80px;
  }

  @include max-768 {
    padding-inline: 40px;
  }

  @include max-767 {
    padding-inline: 16px;
  }
}

.px-wrapper {
  flex: 1;
  &--sm {
    width: 600px;
    margin-inline: auto;
  }

  &--base {
    width: 100%;
  }

  &--flex-7 {
    flex: 0.7;
  }

  &--flex-6 {
    flex: 0.6;
  }

  &--flex-5 {
    flex: 0.5;
  }
}

.px-content-block {
  display: flex;
  &--col {
    flex-direction: column;
  }
}
.px-background {
  &--hero {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 992px;
  }
}

.wrapper {
  &--rel {
    position: relative;
  }

  &--abs {
    position: absolute;
  }
}

.px-z1 {
  z-index: 1;
}

.px-float-img {
  filter: drop-shadow(rgba(6, 11, 19, 0.05) 0px 6px 24px);
}

.px-circle-bg {
  left: calc(50% - 8px);
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 440px;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;

  img {
    object-fit: cover;
    height: 100%;
  }
}
