@use 'style' as *;

[data-variant='white'] {
  background-color: white;
}

[data-variant='off-white'] {
  background-color: var(--black-10);
}

[data-variant='off-white'] {
  background-color: var(--black-10);
}

.px-section {
  width: 100%;

  &--hero {
    height: 107vh;
    max-height: 1080px;
    padding-block: 210px 0;
    margin-bottom: 34px;
  }

  &--sm {
    padding-block: 60px;
  }

  &--base {
    padding-block: 120px;
  }

  &--lg {
    padding-block: 140px;
  }

  &--cst1 {
    padding-block: 120px 72px;
  }
}

.px-center {
  &--ai {
    align-items: center;
  }

  &--jc {
    justify-content: center;
    margin-inline: auto;
  }
}

.px-container {
  width: 100%;
  margin-inline: auto;

  &--xs {
    max-width: 500px;
  }

  &--sm {
    max-width: 800px;
  }

  &--md {
    max-width: 1080px;
  }

  &--base {
    max-width: 1140px;
  }

  &--nav-full {
    max-width: 1780px;
  }

  &--nav {
    max-width: 1188px;
  }

  &--lg {
    max-width: 1280px;
  }

  &--full {
    max-width: 100%;
  }

  @include min-1440 {
    padding-inline: 0;
  }

  @include max-1024 {
    padding-inline: 80px;
  }

  @include max-768 {
    padding-inline: 40px;
  }

  @include max-767 {
    padding-inline: 16px;
  }
}

.px-wrapper {
  flex: 1;

  &__inner-right {
    flex: 0.7;
  }

  &--xxs {
    max-width: 400px;
  }

  &--xs {
    max-width: 510px;
  }

  &--sm {
    max-width: 600px;
    margin-inline: auto;
  }

  &--base {
    width: 100%;
  }

  &--row {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &--flex-7 {
    flex: 0.7;
  }

  &--flex-6 {
    flex: 0.6;
  }

  &--flex-5 {
    flex: 0.5;
  }
}

.wrapper {
  &--rel {
    position: relative;
  }

  &--abs {
    position: absolute;
  }
}

.px-grid {
  display: grid;

  &--col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--col-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &--col-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &--col-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  &--col-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

.px-content-block {
  display: flex;
  &--col {
    flex-direction: column;
  }
}
.px-background {
  width: 100%;
  &--hero {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 992px;
  }

  &--top,
  &--btm {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
  }

  &--top {
    top: 0;
  }
  &--btm {
    bottom: 0;
  }
}

.px-z1 {
  z-index: 1;
}

.px-float-img,
.px-card__image {
  filter: drop-shadow(rgba(6, 11, 19, 0.05) 0px 6px 24px);
}

.px-circle-bg {
  left: calc(50% - 8px);
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 440px;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.px-float-btn {
  bottom: 0;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}

.px-circle-pulse {
  max-height: 132px;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background: radial-gradient(circle at center, rgba(110, 81, 223, 0.3) -10%, rgba(255, 255, 255, 0) 100%);
}

.px-testimonial-wrapper {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  margin-inline: auto;
  display: block;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(var(--black-10-rgb), 0.1) 0%, rgba(var(--black-10-rgb), 1) 100%);
    z-index: 2;
    height: 35%;
    width: 100%;
  }
}

.px-card--width {
  width: calc((100% / 3) - 20px);
}

.px-card--testimonial {
  @extend .px-card--width;
  margin-bottom: 20px;
}

.px-testimonial-wrapper:after {
  content: '';
  display: block;
  clear: both;
}
