.px-section.px-nav {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  position: fixed;
}

.px-section--nav .px-container {
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.px-container--nav-full,
.px-container--nav {
  padding: 18px 24px;
  border-radius: 100px;
  outline: 2px solid transparent;
  outline-offset: -8px;
}

.px-sticky {
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.05) 0px 10px 45px 0px;
  outline-color: var(--black-20);
}

.px-nav {
  &__content-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .px-button,
  .px-section__par {
    margin: unset;
  }

  &__button.px-button:hover {
    transform: unset;
    box-shadow: unset;
  }

  &__logo-block,
  &__cta-block {
    max-width: 300px;
    width: 100%;
  }

  &__cta-block {
    justify-content: flex-end;
  }
}
