@font-face {
  font-family: 'HK Grotesk';
  src: url('../px-fonts/HKGrotesk-SemiBold.woff2') format('woff2'), url('../px-fonts/HKGrotesk-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../px-fonts/HKGrotesk-Medium.woff2') format('woff2'), url('../px-fonts/HKGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../px-fonts/HKGrotesk-Regular.woff2') format('woff2'), url('../px-fonts/HKGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../px-fonts/Inter18pt-SemiBold.woff2') format('woff2'), url('../px-fonts/Inter18pt-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../px-fonts/Inter18pt-Medium.woff2') format('woff2'), url('../px-fonts/Inter18pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../px-fonts/Inter18pt-Regular.woff2') format('woff2'), url('../px-fonts/Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --par-font: 'Inter', sans-serif;
  --heading-font: 'HK Grotesk', sans-serif;
  --p-color: var(--black-90);
  --h-color: var(--black);
  --primary: var(--purple-100);
  /* Color */
  --purple-100: #6e51e0;
  --purple-100-hex: #6e51e0;
  --purple-100-rgb: 110, 81, 224;
  --purple-90: #a259ff;
  --purple-90-rgb: 162, 89, 255;
  --purple-10: #e8e5f8;
  --purple-10-rgb: 232, 229, 248;
  --black: #251d47;
  --black-90: #363d4f;
  --black-90-rgb: 54, 61, 79;
  --black-30: #979fb4;
  --black-30-rgb: 151, 159, 180;
  --black-10: #f7f8fa;
  --black-10-rgb: 247, 248, 250;

  /* Gradient */
  --light-color-gradient: #a794ec; //167, 148, 236;
  --dark-color-gradient: #6e51df; //110, 81, 223

  --base-size: 16px;
}

$gap-values: 0, 4, 5, 10, 15, 16, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 100, 120;

@each $gap in $gap-values {
  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}
